/*
███████       ██ ███    ██ ██████  ███████ ██   ██
   ███        ██ ████   ██ ██   ██ ██       ██ ██
  ███   █████ ██ ██ ██  ██ ██   ██ █████     ███
 ███          ██ ██  ██ ██ ██   ██ ██       ██ ██
███████       ██ ██   ████ ██████  ███████ ██   ██

-1 = below
0 = normal
1 = above

+-1 increments

*/

/* font families
    cursive = madelyn
    fantasy =
    monospace =
    sans-serif =
    serif =
    impact =

 */

@import url('./table.css');
@import url('./inputs.css');
@import url('media.css');
@import url('block.css');
@import url('typography.css');

:root {
    --border-radius: calc(24em/54);
    --font-size: 1.2em;
}

@font-face {
    font-family: Madelyn;
    src: url("fonts/Madelyn.otf");
}

@font-face {
    font-family: chill;
    src: url("fonts/super-chill.otf");
}

@font-face {
    font-family: rude;
    src: url("fonts/rude.otf");
}

@font-face {
    font-family: scribble;
    src: url("fonts/scribble.otf");
}

@font-face {
    font-family: sugar;
    src: url("fonts/sugar.otf");
}

@font-face {
    font-family: wonderland;
    src: url("fonts/WONDERLANDPRO-Regular.ttf");
}

@font-face {
    font-family: corbert;
    src: url("fonts/Corbert-Regular.ttf");
}

html {
    font-family: corbert, Madelyn, Tahoma, Geneva, Verdana, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
}


/* resouerces

- https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

progress,
meter {
    min-height: 100%;
    height: calc(var(--font-size)*1.25);
    min-width: var(--font-size);
    max-width: 100%;

    /* width: 100%; */

    /* cursor: progress; */

    /* border-radius: var(--border-radius); */

    /* accent-color: var(--success); */
}


progress {
    cursor: progress;
    color: var(--success);

    /* outline:violet; */

    /* border-radius: var(--border-radius); */

    /* background-color: brown; */

    /* accent-color: var(--success); */
}

progress::-webkit-progress-bar {
    /* outline: brown; */
    border-radius: var(--border-radius);
    border-color: var(--shadow);
}

progress::-webkit-progress-value {
    outline: green;
    background-color: var(--success);
    color: var(--success);
    border-radius: var(--border-radius);
}

progress::-webkit-progress-inner-element {
    /* outline: pink; */

    /* background-color: var(--shade); */
    border-radius: var(--border-radius);
}


progress::-moz-progress-bar {
    /* outline: green; */
    -color: var(--success);

    /* border-radius: var(--border-radius); */
    width: 100%;
    height: 100%;
}

progress::-ms-fill {
    outline: green;

    /* background-color: var(--success); */
    border-radius: var(--border-radius);
}




/* !! non-standard(?) */
progress::-webkit-progress-inner-value {
    outline: pink;

    /* background-color: var(--shade); */
    border-radius: var(--border-radius);
}

progress::-moz-range-progress {
    outline: green;

    /* background-color: var(--success); */
    border-radius: var(--border-radius);
}




meter::-webkit-meter-bar {
    /* background-color: var(--shade); */

    /* outline: auto; */
    border-color: var(--shadow);
    border-radius: var(--border-radius);
    border-width: 1.5px;
    border-style: solid;
}

meter::-webkit-meter-optimum-value {
    /* outline: auto; */
    background-color: var(--success);
    border-radius: 0;
    border-radius: var(--border-radius);
}

meter::-webkit-meter-suboptimum-value {
    /* outline: auto; */
    background-color: var(--warning);
    border-radius: 0;
    border-radius: var(--border-radius);
}

meter::-webkit-meter-even-less-good-value {
    /* outline: auto; */
    background-color: var(--danger);
    border-radius: 0;
    border-radius: var(--border-radius);
}

meter::-moz-meter-bar {
    /* background-color: var(--shade); */

    /* outline: auto; */
}

meter::-moz-meter-optimum-value {
    /* outline: auto; */
    background-color: var(--success);
    border-radius: 0;
    border-radius: var(--border-radius);
}

meter::-moz-meter-suboptimum-value {
    /* outline: auto; */
    background-color: var(--warning);
    border-radius: 0;
    border-radius: var(--border-radius);
}

meter::-moz-meter-even-less-good-value {
    /* outline: auto; */
    background-color: var(--danger);
    border-radius: 0;
    border-radius: var(--border-radius);
}