@charset "UTF-8";

@import url("colours.css");
@import url("base.css");

@import url("./table.css");
@import url("./inputs.css");
@import url("media.css");
@import url("block.css");
@import url("typography.css");
@import url("list.css");
@import url("print.css");
@import url("dark.css");
@import url("mouse.css");

html,
* {
	transition-timing-function: ease-in-out;
	transition-behavior: smooth;
	transition-duration: 0.25s;
}

body nav {
	position: sticky;
	top: 0;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	background-color: var(--shell);
	border-bottom: 1px solid var(--shadow);

	border-radius: var(--border-radius);
}

body nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	justify-content: space-evenly;
	width: 100%;

	/* gap: 10em; */
}

body nav ul li {
	margin: 0;
	padding: 0;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
}

button {
	box-sizing: border-box;
	max-width: 100%;
	height: 100%;
	max-height: 100vh;
	padding: calc(1em / 1.5) calc(1em * 1.75);

	cursor: pointer;

	border-style: outset;
	border-width: .15em;
	color: var(--text);

	border-radius: 99999999px;
	border-color: var(--accent);

	outline-style: none;
	outline-color: transparent;
	outline-width: 0;

	background-color: var(--shell);
}

button:focus {
	/* background-color: var(--shade); */
	/* border-color: var(--primary); */
	outline-color: var(--primary);
	outline-style: solid;
	outline-width: 3px;
}

dialog[open]::backdrop {
	cursor: pointer;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 75%);
}

dialog {
	border-radius: var(--border-radius);
	padding: 5em;
	position: fixed;
	margin: auto;
}

html,
body {
	background-color: var(--background);
	color: var(--text);
	scrollbar-color: var(--shadow) var(--shell);
	overflow-x: hidden;
}
