:root {
	--cerise: #d93f65;
	--bright-pink-crayola: #ef476f;
	--sunglow: #ffd166;
	--mantis: #83d483;
	--emerald: #06d6a0;
	--light-sea-green: #0cb0a9;
	--cornflower-blue: #788bff;
	--blue-ncs: #118ab2;
	--cerulean: #0c637f;
	--midnight-green: #073b4c;
	--midnight-green-2: #1e4d5c;
	--egg-shell: #fcfcfb;
	--white-smoke: #f6f4f5;
	--ivory: #fffff2;
	--alabaster: #dfdfd5;
	--platinum: #e6e6e6;
	--anti-flash-white: #f0f0f0;
	--timberwolf: #d8d8d8;
	--silver: #a5a5a5;
	--sea-salt: #f8f8f8;
	--french-gray: #c3bfcb;
	--charcoal: #414a53;
	--rich-black: #101018;
	--night: #101010;
	--ninja: #0f0f0f;
	--gunmetal: #020202;
	--licorice: #150b09;
	--smoky-black: #110a08;
	--raisin-black: #342e37;
	--pitch-black: #010b0e;
	--graynum: #1c1f2d;
	--cal-poly-green: #0d4c31;
	--blood-red: #5b0800;
	--madder: #9c0e2f;
	--dark-goldenrod: #c68b00;
	--viridian: #047f5e;

	/* context  */
	--black: var(--rich-black);
	--white: var(--egg-shell);
	--accent: var(--black);

	--primary: var(--light-sea-green);
	--secondary: var(--mantis);
	--tertiary: var(--bright-pink-crayola);
	--quaternary: var(--sunglow);
	--quinary: var(--cornflower-blue);

	--text: var(--charcoal);
	--background: var(--white-smoke);

	--danger: var(--bright-pink-crayola);
	--error: var(--danger);
	--warning: var(--sunglow);
	--success: var(--emerald);
	--info: var(--blue-ncs);

	--sparkle: var(--cornflower-blue);
	--shell: var(--sea-salt);
	--shade: var(--timberwolf);
	--shadow: var(--silver);
}