dl {
	width: fit-content;
	list-style-position: inside;
}

dt {
	display: list-item;
	width: fit-content;
	width: 100%;
	font-weight: bold;
	list-style-type: definition;
}

dt + dt {
	list-style-type: none;
}

dt::after {
	content: "";
}

dd {
	display: list-item;
	list-style-type: definition-desc-under;
	margin-inline-start: 1.25em;
}

@counter-style unordered {
	system: cyclic;
	symbols: "●";
	suffix: " ";
}

@counter-style unordered-emphasis {
	system: cyclic;
	symbols: "◆";
	suffix: " ";
}

@counter-style unordered-strong {
	system: cyclic;
	symbols: "★";
	suffix: " ";
}

@counter-style unordered-strong-emphasis {
	system: cyclic;
	symbols: "★◆";
	suffix: " ";
}

@counter-style unordered-emphasis-strong {
	system: cyclic;
	symbols: "◆★";
	suffix: " ";
}

@counter-style circled-alpha {
	system: fixed;
	symbols:
		"ⓐ", "ⓑ", "ⓒ", "ⓓ", "ⓔ", "ⓕ", "ⓖ", "ⓗ", "ⓘ", "ⓙ", "ⓚ", "ⓛ", "ⓜ", "ⓝ", "ⓞ", "ⓟ", "ⓠ", "ⓡ", "ⓢ", "ⓣ", "ⓤ", "ⓥ", "ⓦ", "ⓧ", "ⓨ", "ⓩ";
	suffix: " ";
}

@counter-style definition {
	system: cyclic;
	symbols: "◈";
	suffix: " ";
}

@counter-style definition-desc {
	system: cyclic;
	symbols: "—";
	suffix: " ";
}
@counter-style definition-desc-under {
	system: cyclic;
	symbols: "↪";
	suffix: " ";
}
