table {
	/* allows for overflow scrolling */
	display: table;

	box-sizing: border-box;

	table-layout: auto;
	width: max-content;
	max-width: 100%;

	height: 100%;
	max-height: 80vh;

	margin: auto;

	border-style: solid;
	border-radius: var(--border-radius);
	border-color: var(--shadow);
	border-width: .25em;

	outline: none;

	white-space: normal;
	text-wrap-style: pretty;
	text-wrap-mode: wrap;

	/* keeps exterior edges rounded */
	/* border-collapse: collapse; */
	border-spacing: 0;

	overflow: auto;
}

table caption {
	caption-side: top;
	text-align: center;
	text-transform: capitalize;
}

thead,
tfoot {
	display: table-header-group;
	vertical-align: middle;

	text-align: center;
	width: 100%;
}

tbody {
	display: table-row-group;
	max-width: 100%;
	vertical-align: middle;
	border-collapse: collapse;
}

tr {
	max-width: 100%;
	background-color: transparent;
}

th {
	box-sizing: border-box;
	border-width: .01em;
	border-style: solid;
	border-color: inherit;
	border-collapse: collapse;
	empty-cells: show;

	background-color: var(--shell);
}

th[scope="col"],
th[scope="colgroup"] {
	max-width: 100%;
	top: 0;
	bottom: 100%;
	z-index: 1;
	position: sticky;
}

th[scope="row"],
th[scope="rowgroup"] {
	max-width: 100%;
	left: 0;
	right: 100%;
	z-index: 1;
	position: sticky;
}

/* pseudo collapse with table's borders */
tbody,
thead,
tfoot {
	border-collapse: collapse;
}

thead {
	border-start-start-radius: var(--border-radius);
	border-start-end-radius: var(--border-radius);
}

:is(thead, tbody):first-child > tr:first-child > :is(td, th):first-child,
caption + :is(thead, tbody) > tr:first-child > :is(td, th):first-child {
	border-start-start-radius: calc(var(--border-radius) / 2.4);
}
:is(thead, tbody):first-child > tr:first-child > :is(td, th):last-child,
caption + :is(thead, tbody) > tr:first-child > :is(td, th):last-child {
	border-start-end-radius: calc(var(--border-radius) / 2.4);
}
:is(tfoot, tbody):last-child > tr:last-child > :is(td, th):last-child {
	border-end-end-radius: calc(var(--border-radius) / 2.4);
}
:is(tfoot, tbody):last-child > tr:last-child > :is(td, th):first-child {
	border-end-start-radius: calc(var(--border-radius) / 2.4);
}

td {
	box-sizing: border-box;
	width: fit-content;
	max-width: 100%;

	border-width: .01em;
	border-style: solid;
	border-color: inherit;
	border-collapse: collapse;
	empty-cells: show;
}

tbody tr:nth-child(odd) {
	/* background-color: var(--shell); */
	background-color: transparent;
}

tbody tr:nth-child(even) {
	background-color: var(--shade);
}
