html,
body {
	font-family:
		corbert, Madelyn, Tahoma, Geneva, Verdana, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	line-height: 1.5;
	font-weight: normal;
	font-style: normal;
}

:any-link {
	color: var(--info);
	text-decoration: underline solid;
}

:visited {
	color: var(--blurple);
}

:link {
	color: var(--quinary);
}

a:active,
button:active {
	color: var(--primary);
}

code,
pre {
	font-family: inherit;

	width: fit-content;
	max-width: 100%;
	float: none;
	padding: 3px;

	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	white-space-collapse: preserve-breaks;

	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: inherit;
}

code {
	font-family: monospace;

	height: 100%;

	background-color: var(--shade);
	border-radius: var(--border-radius);

	padding: 0.1em 0.45em;
	margin: auto .1em;
	vertical-align: middle;
}

details,
q,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre {
	font-size: 1rem;
	overflow-wrap: break-word;
	word-break: auto-phrase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: justify;
	text-wrap: balance;
}

article > h1,
article > h2,
article > h3,
article > h4,
article > h5,
article > h6 {
	text-align: start;
	text-transform: capitalize;
}

article > section > h1,
article > section > h2,
article > section > h3,
article > section > h4,
article > section > h5,
article > section > h6 {
	text-align: start;
	text-transform: capitalize;
}

section > h1,
section > h2,
section > h3,
section > h4,
section > h5,
section > h6 {
	text-align: center;
}

hgroup {
	display: block;
	font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.5rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.8rem;
}

blockquote {
	/* border-inline-start: 5px solid var(--shadow); */
	padding: 0.5em;
	margin: 1em;
	/* background-color: var(--shade); */
	border-radius: var(--border-radius);
	box-shadow: inset 0px 3px var(--shadow);
	/* a nice thin and blurry top box shadow */
	font-style: italic;
}

@media (direction: rtl) {
	blockquote {
		border-inline-start: 0;
		border-inline-end: 5px solid var(--shadow);
	}
}

@media (direction: ltr) {
	blockquote {
		border-inline-start: 5px solid var(--shadow);
		border-inline-end: 0;
	}
}

q {
}

blockquote,
q {
	font-style: italic;
	font-family: serif;
	font-weight: normal;
}

strong {
	font-weight: bolder;
}

em {
	font-style: italic;
}

mark {
	background-color: var(--warning);
}

del {
	text-decoration: line-through;
}

ins {
	text-decoration: underline;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

abbr[title] {
	text-decoration-color: inherit;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-skip: box-decoration;
}

abbr {
	color: var(--info);
	cursor: help;
}

i {
	font-style: italic;
	font-variant: small-caps;
	font-weight: normal;
}

b {
	font-weight: 450;
	text-decoration-line: underline;
	text-decoration-style: double;
}

kbd {
	font-family: monospace;
	padding: 0.1em 0.3em;
	border-radius: var(--border-radius);
	background-color: var(--shade);
	border: 1px solid var(--shadow);

	display: inline-block;
	box-shadow:
		0 1px 0 var(--shadow), 0 2px 0 var(--shadow), 0 3px 0 var(--shadow), 0 4px 0 var(
			--shadow
		), 0 5px 0 var(--shadow), 0 6px 1px rgba(0, 0, 0, 0.1);
	margin: auto 0.1em;

	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	text-transform: none;
	font-style: italic;
}
